---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('./posts/*.md');
const pageTitle = 'Blog';
const PageColour = "peach";

const sortedPosts = allPosts.sort((a, b) => {
	return new Date(b.frontmatter.pubdate).valueOf() - new Date(a.frontmatter.pubdate).valueOf();
});
---
  <BaseLayout pageTitle={pageTitle} PageColour={PageColour}>
    <p>here is list of blog posts<br> go wild</p>

    <ul>
      {sortedPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} description={post.frontmatter.description} pubdate={post.frontmatter.pubDate}/>)}
    </ul>
	</BaseLayout>
