---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
import { getCollection } from "astro:content";
const pageTitle = 'Blog';
const PageColour = "text-magenta";

//const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const allPosts = await getCollection("blog");
const sortedPosts = allPosts.sort((a, b) => {
	return Date.parse(b.data.pubDate) - Date.parse(a.data.pubDate);
});
---
  <BaseLayout pageTitle={pageTitle} PageColour={PageColour}>
    <p>here is list of blog posts<br> go wild</p>
    <p><a class=`${PageColour} underline` href="/tags">Here are all the tags aswell</a></p>
    <ul>
      {sortedPosts.map((post) => <BlogPost id=`/posts/${post.id}` title={post.data.title} description={post.data.description} pubDate={Date.parse(post.data.pubDate)}/>)}
    </ul>
	</BaseLayout>
