---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "dynamitegus.au";
const PageColour = "text-magenta";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import Header from "../components/Header.astro";
import BlogPost from "@/components/BlogPost.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("blog");
const filteredPost = allPosts.filter((post) => post.data.featured === true);
const featuredPost = filteredPost[0];
---

<html lang="en" class="bg-base text-text">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="me" href="https://mastodon.social/@dynamitegus"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="sm:mx-5 md:mx-20 lg:mx-40 xl:mx-120 my-0 px-4 bg-center h-screen">
    <h1 class=`text-5xl sm:mx-4 my-10 ${PageColour}`></h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <div class="hidden sm:flex">
        <img class="bg-[black] rounded-3xl" src="/favicon.svg"  />
      </div>
      <div class="">
        <Header />
        <h2 class="text-3xl my-2 text-magenta pt-10 md:pt-20 lg:pt-40">Welcome to dynamitegus.au</h2>
        <div class="pl-8 pb-1"><li class="text-2xl list-disc">Formerly dynamitegus.org</li></div>
        <p>This is my small little project website that I work on for fun.</p>
        <p>It's just a little goofy and if you can take a few light hearted jokes you'll be right at home.</p>
        <p>And there might be a few little easter eggs here and there.</p>
        
      </div>
    </div>
    <br>
    {featuredPost && (
      <BlogPost 
        title={featuredPost.data.title} 
        id={`/posts/${featuredPost.id}`} 
        description={featuredPost.data.description} 
        pubDate={featuredPost.data.pubDate}  
      />
    )}
    <br>
    <div class="items-center inset-x-0">
      <Footer PageColour=`${PageColour}` />
    </div>
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
