---
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import Header from "../components/Header.astro";
const { pageTitle, PageColour } = Astro.props;
---

<html lang="en" class="bg-base text-text">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="sm:mx-5 md:mx-20 lg:mx-40 xl:mx-70 2xl:mx-90 my-0 px-4 bg-center h-screen font-inria">
    <Header />
    <div class="md:px-20 md:px-30">
      <h1 class=`text-5xl sm:mx-4 my-10 ${PageColour}`>{pageTitle}</h1>
      <slot />
    </div>
    <div class="items-center inset-x-0"><Footer PageColour=`${PageColour}`/></div>
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
