---
import ShortLinks from "../components/ShortLinks.astro";
import BaseLayout from "./BaseLayout.astro";
const { title, url, description, pubDate, author, tags } = Astro.props;
const PageColour = "text-magenta";

const dateOptions: object = {
	year: "2-digit",
	month: "numeric",
	day: "numeric",
};

const formattedPublishDate = new Date(pubDate).toLocaleDateString("en-US", dateOptions);



---
<BaseLayout pageTitle={title} PageColour={PageColour}>
<p class="text-overlay2">Published on: {pubDate}</p>
<p class="text-overlay2">Written by {author}</p>
<p class="text-overlay2">Tags: {tags.map((tag: string) => {return (<ShortLinks PageColour="text-overlay2 pr-1.5 hover:text-overlay0" LD=`/tags/${tag}` LN=`${tag}` />);})}</p>
<slot />
</BaseLayout>
