---
import BaseLayout from "./BaseLayout.astro";
const { title, url, description, pubDate, author, tags } = Astro.props;
const PageColour = "text-peach";

const dateOptions: object = {
	year: "2-digit",
	month: "numeric",
	day: "numeric",
};

const formattedPublishDate = new Date(pubDate).toLocaleDateString("en-US", dateOptions);



---
<BaseLayout pageTitle={title} PageColour={PageColour}>
<p class="text-overlay2">Published on: {pubDate}</p>
<p class="text-overlay2">Written by {author}</p>
<p>{tags}</p>
<slot />
</BaseLayout>
